.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content-container {
  display: flex;
  justify-content: space-between;
}


.sidebar {
  width: 300px;
  background-color: #ffda08;
  padding: 10px;
}

.main {
  flex-grow: 2; /* This will make the main container twice as wide as the sidebar */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #bacef5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(24, 22, 22);
}
.product-list {
  display: flex;
  flex-wrap: wrap; /* Allow products to wrap to the next line if there's not enough space */
  gap: 20px; /* Adjust the gap between products */
}

.product{
  border:solid;
  width: 500px;
}